@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
}
body{
    background-color: rgba(0, 0, 0, 0.911);

}
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    color: white;

}
header{
    text-align: center;
    padding: 50px;
    color: white;
    font-size: 25px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
}
.comics-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 50px;
}
.comics-card-f{
    display: flex;
    flex-direction: column;

    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.055);
    
    transition: .3s;

    cursor: pointer;
}
.comics-card-f:hover{
    scale: 1.01;
}
.comics-card-f img{
    text-align: center;

    width: 100%;
    height: 20rem;
}
.comics-card h1{
    font-size: 25px;
    margin-bottom: 10px;
}

.comics-card h2{
    text-align: justify;
    font-size: 13px;
    line-height: 18px;

    color: rgba(255, 255, 255, 0.678);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.74) ;
    
    display: none;
    transition: all ease 0.5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 99;
}

  
.modal__body {
    position: absolute;
    width: 70vw;
    height:70vh;
    display: flex;
    background-color: rgb(49, 48, 48);
}

.modal__body_img{
    width: 50%;
    position: relative;
}

.modal__body_img img{
    width: 100%;
    height: 100%;
}

.modal__body_info{
    width: 50%;
    overflow-y: hidden;
}
.modal__body_info h2{
    padding: 20px;
    font-size: 3vh;
    color: white;
}
.modal__body_info h3{
    text-align: justify;
    padding: 20px;
    font-size: 2vh;
    color: white;
}

.btn-closemodal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
.btn-closemodal:hover{
    background-color: rgba(255, 0, 0, 0.582);
}
